@import url("reset.css");
.list{
	color: rgb(250, 247, 247);
}

.list a[href="#bio"] {
	color: red;
}

#bio p{
	color: red;
}


[class*="item-strong"]{
	color: #500350;
}

h1{
	color: white;
}

footer p a {
	color: blue;
}

#history p,
#gallery p {
    background-color: lightgray;
}


